/*中间部分大框*/
.a1{	
	width: 1200px;
	background-repeat: no-repeat;
	background-size: cover;	
	position: absolute;
	left: 73px;
	top: 80px;
}
/*第一个场地框架*/
.ground{
	width: 1100px;
	float: left;
	border-bottom: 2px #E7E7E7 solid;
	margin-left: 25px;
	margin-top: 30px;
}
.groundtr{
	height:80px;
}
.groundname{
	color:black;
	font-size: 30px;
	hight:80px;
	line-height: 80px;
	margin-left: 50px;
	width: 600px;
}
.groundp{
	color:red;
	font-size: 30px;
}
.groundc1{
	color: grey;
	font-size: 17px;
}
.groundc2{
	width: 80px;
	height: 25px;
	background-color: peachpuff;
	color: plum;
	text-align: center;
}
.groundc3{
	width: 80px;
	height: 25px;
	background-color: cornflowerblue;
	color: blue;
	text-align: center;
}
.groundc4{
	width: 125px;
	height: 25px;
	background-color: antiquewhite;
	color: burlywood;
	text-align: center;
}
.a11{
	width: 100%;
	float: left;
	height: 150px;
	
}
.a12{
	width: 100%;
	float: left;
}
#a2{
	width: 250px;
	height: 200px;
	position: absolute;
	/*border: 1px solid red;*/
     left: 25px;
	top: 180px;
	overflow: hidden;
    }
/*第二个场地框架*/
#a3{
	width: 250px;
	height: 200px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 25px;
	top: 440px;
	overflow: hidden;
    }
/*第三个场地框架*/  
#a4{
	width: 250px;
	height: 200px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 25px;
	top: 700px;
	overflow: hidden;
    }
/*第四个场地框架 */   
#a8{
	width: 250px;
	height: 200px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 25px;
	top: 960px;
	overflow: hidden;
    }
/*第五个场地框架*/
#changdi5{
	width: 250px;
	height: 200px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 25px;
	top: 1220px;
	overflow: hidden;
    }
/*第六个场地框架*/    
#changdi6{
	width: 250px;
	height: 200px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 25px;
	top: 1480px;
	overflow: hidden;
    }
/*第一个场地标签框架 */   
#a5{
	width: 300px;
	height: 30px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 320px;
	top: 350px;
	overflow: hidden;
    }
/*第二个场地标签框架 */      
#a6{
	width: 300px;
	height: 30px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 320px;
	top: 610px;
	overflow: hidden;
    }
/*第三个场地标签框架 */      
#a7{
	width: 300px;
	height: 30px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 320px;
	top: 860px;
	overflow: hidden;
    }
/*第四个场地标签框架 */  
#a9{
	width: 300px;
	height: 30px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 320px;
	top: 1130px;
	overflow: hidden;
    }
/*第五个场地标签框架 */  
#BQ{
	width: 300px;
	height: 30px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 320px;
	top: 1390px;
	overflow: hidden;
  }
/*第六个场地标签框架 */   
#BQ1{
	width: 300px;
	height: 30px;
	position: absolute;
	/*border: 1px solid red;*/
    left: 320px;
	top: 1650px;
	overflow: hidden;
  }   
/*索引栏 */  
#sp1{
	position: absolute;
	left: 30px;
	top: 10px;
	width:300px;
	height:50px;
	size: 5px;
}
/*没有更多数据了---尾部提示语*/
#sp2{
	position: absolute;
	left: 500px;
	top: 1750px;
	color: red;
	font-size: 20px;
}
/*场地一名字*/
#sp3{
	position: absolute;
	left: 320px;
	top: 180px;
	color:black;
	font-size: 30px;
}
#sp3:hover{
	color: red;
}
/*场地一价格*/
#jiage1{
	position: absolute;
	left: 920px;
	top: 180px;
	color:red;
	font-size: 30px;
}
/*场地一标签1*/
#sp4{
	position: absolute;
	top: 2px;
	left: 0px;
	width: 80px;
	height: 25px;
	background-color: peachpuff;
	color: plum;
	text-align: center;
}
/*场地一标签2*/
#sp5{
	position: absolute;
	top: 2px;
	left: 90px;
	width: 80px;
	height: 25px;
	background-color: cornflowerblue;
	color: blue;
	text-align: center;
}
/*场地一标签3*/
#sp6{
	position: absolute;
	top: 2px;
	left: 180px;
	width: 125px;
	height: 25px;
	background-color: antiquewhite;
	color: burlywood;
	text-align: center;
}
/*场地二名字*/
#sp7{
	position: absolute;
	left: 320px;
	top: 440px;
	color:black;
	font-size: 30px;
}
#sp7:hover{
	color: red;
}
/*场地二价格*/
#jiage2{
	position: absolute;
	left: 920px;
	top: 440px;
	color:red;
	font-size: 30px;
}
/*场地三名字*/
#sp-img3{
	position: absolute;
	left: 320px;
	top: 700px;
	color:black;
	font-size: 30px;
}
#sp-img3:hover{
	color: red;
}
/*场地四名字*/
#sp-img4{
	position: absolute;
	left: 320px;
	top: 960px;
	color:black;
	font-size: 30px;
}
#sp-img4:hover{
	color: red;
}
/*场地五名字*/
#sp-img5{
	position: absolute;
	left: 320px;
	top: 1220px;
	color:black;
	font-size: 30px;
}
#sp-img5:hover{
	color: red;
}
/*场地六名字*/
#sp-img6{
	position: absolute;
	left: 320px;
	top: 1480px;
	color:black;
	font-size: 30px;
}
#sp-img6:hover{
	color: red;
}
/*场地三价格*/
#jiage3{
	position: absolute;
	left: 920px;
	top: 700px;
	color:red;
	font-size: 30px;
}
/*场地四价格*/
#jiage4{
	position: absolute;
	left: 920px;
	top: 960px;
	color:red;
	font-size: 30px;
}
/*场地五价格*/
#jiage5{
	position: absolute;
	left: 920px;
	top: 1220px;
	color:red;
	font-size: 30px;
}
/*场地六价格*/
#jiage6{
	position: absolute;
	left: 920px;
	top: 1480px;
	color:red;
	font-size: 30px;
}
/*场地二的标签1*/
#sp8{
	position: absolute;
	top: 2px;
	left: 0px;
	width: 80px;
	height: 25px;
	background-color: peachpuff;
	color: plum;
	text-align: center;
}
/*场地二的标签2*/
#sp9{
	position: absolute;
	top: 2px;
	left: 90px;
	width: 120px;
	height: 25px;
	background-color: antiquewhite;
	color: burlywood;
	text-align: center;
}
/*场地三的标签*/
#sp-wenzi1{
	position: absolute;
	top: 2px;
	left: 0px;
	width: 120px;
	height: 25px;
	background-color: #6495ED;
	color: burlywood;
	text-align: center;
}
/*场地四的标签1*/
#sp-wenzi2{
	position: absolute;
	top: 2px;
	left: 0px;
	width: 80px;
	height: 25px;
	background-color: peachpuff;
	color: plum;
	text-align: center;
}
/*场地四的标签2*/
#sp-wenzi3{
	position: absolute;
	top: 2px;
	left: 90px;
	width: 120px;
	height: 25px;
	background-color: #6495ED;
	color: burlywood;
	text-align: center;
}
/*场地五的标签1*/
#sp-biaoqian1{
	position: absolute;
	top: 2px;
	left: 0px;
	width: 80px;
	height: 25px;
	background-color: peachpuff;
	color: plum;
	text-align: center;
}
/*场地五的标签2*/
#sp-biaoqian2{
	position: absolute;
	top: 2px;
	left: 90px;
	width: 130px;
	height: 25px;
	background-color: lightskyblue;
	color: plum;
	text-align: center;
}
/*场地六的标签1*/
#sp-biaoqian3{
	position: absolute;
	top: 2px;
	left: 0px;
	width: 80px;
	height: 25px;
	background-color: peachpuff;
	color: plum;
	text-align: center;
}
/*场地六的标签2*/
#sp-biaoqian4{
	position: absolute;
	top: 2px;
	left: 90px;
	width: 80px;
	height: 25px;
	background-color: cornflowerblue;
	color: blue;
	text-align: center;
}
/*场地六的标签3*/
#sp-biaoqian5{
	position: absolute;
	top: 2px;
	left: 180px;
	width: 80px;
	height: 25px;
	background-color: peachpuff;
	color: coral;
	text-align: center;
}
/*第二条水平线*/
#hr1{
	padding-right: 1000px;
	position: absolute;
	top:150px;
	margin-left: 25px;
}
/*第三条水平线*/
#hr2{
	padding-right: 1000px;
	position: absolute;
	top: 410px;
	margin-left: 25px;
}
/*第一条水平线*/
#hr3{
	padding-right: 1000px;
	position: absolute;
	top: 40px;
	margin-left: 25px;
}
/*第四条水平线*/
#hr4{
	padding-right: 1000px;
	position: absolute;
	top: 670px;
	margin-left: 25px;
}
/*第五条水平线*/
#hr5{
	padding-right: 1000px;
	position: absolute;
	top: 930px;
	margin-left: 25px;
}
/*第六条水平线*/
#hr6{
	padding-right: 1000px;
	position: absolute;
	top: 1190px;
	margin-left: 25px;
}
/*第七条水平线*/
#hr7{
	padding-right: 1000px;
	position: absolute;
	top: 1450px;
	margin-left: 25px;
}
/*第八条水平线*/
#hr8{
	padding-right: 1000px;
	position: absolute;
	top: 1710px;
	margin-left: 25px;
}
/*场地样式选择栏*/
#tab1{
	margin-left: 25px;
	margin-top: 60px;
	color: #AAAAAA;
	
}
/*场地一*/
.img1{
	width:250px;
	height: 200px;
	
}
.img1:hover{
	transform: scale(1.1);
	transition: all 1.6s;
}
/*场地二*/
#img2{
	position: absolute;
	left: 0px;
	top: 0px;
	width:250px;
	height: 200px;
	
}
#img2:hover{
	transform: scale(1.1);
	transition: all 1.6s;
}
/*场地三*/
#img3{
	position: absolute;
	left: 0px;
	top: 0px;
	width:250px;
	height: 200px;
	
}
#img3:hover{
	transform: scale(1.1);
	transition: all 1.6s;
}
/*场地四*/
#img4{
	position: absolute;
	left: 0px;
	top: 0px;
	width:250px;
	height: 200px;
	
}
#img4:hover{
	transform: scale(1.1);
	transition: all 1.6s;
}
/*场地五*/
#img5{
	position: absolute;
	left: 0px;
	top: 0px;
	width:250px;
	height: 200px;
	
}
#img5:hover{
	transform: scale(1.1);
	transition: all 1.6s;
}
/*场地六*/
#img6{
	position: absolute;
	left: 0px;
	top: 0px;
	width:250px;
	height: 200px;
	
}
#img6:hover{
	transform: scale(1.1);
	transition: all 1.6s;
}
/*场地一的介绍*/
#ul1{
	position: absolute;
	left: 320px;
	top: 240px;
	color: grey;
	list-style-type: none;
}
#ul1 li{
	width: 400px;
	height: 30px;
	margin: 4px 0px;
	list-style-type: none;
}
/*场地二的介绍*/
#ul2{
	position: absolute;
	left: 320px;
	top: 500px;
	color: grey;
	list-style-type: none;
}
#ul2 li{
	width: 400px;
	height: 30px;
	margin: 4px 0px;
	list-style-type: none;
}
/*场地三的介绍*/
#ul3{
	position: absolute;
	left: 320px;
	top: 760px;
	color: grey;
	list-style-type: none;
}
#ul3 li{
	width: 400px;
	height: 30px;
	margin: 4px 0px;
	list-style-type: none;
}
/*场地四的介绍*/
#ul4{
	position: absolute;
	left: 320px;
	top:1020px;
	color: grey;
	list-style-type: none;
}
#ul4 li{
	width: 400px;
	height: 30px;
	margin: 4px 0px;
	list-style-type: none;
}
/*场地五的介绍*/
#ul5{
	position: absolute;
	left: 320px;
	top:1280px;
	color: grey;
	list-style-type: none;
}
#ul5 li{
	width: 400px;
	height: 30px;
	margin: 4px 0px;
	list-style-type: none;
}
/*场地六的介绍*/
#ul6{
	position: absolute;
	left: 320px;
	top:1540px;
	color: grey;
	list-style-type: none;
}
#ul6 li{
	width: 400px;
	height: 30px;
	margin: 4px 0px;
	list-style-type: none;
}
#jiudian{
	font-size: 60px;
	color: white;
	position: absolute;
	top:0px;
	left: 420px;
}
#jiudian:hover{
	color: red;
}
#top_div{
	width: 100%;
	float: left;
}
#FuGai{
	width: 1100px;
	height: 100px;
	position: absolute;
	top: 50px;
	left: 25px;
	background-color: black;
	opacity: 0.4;
}
#top_img{
	width: 1100px;
	height: 100px;
	margin: 50px 0 0 25px;
	float: left;
}

