body{
	width: 100%;
	height: 1000px;
}
.content_siyi{
	width: 1200px;
	height: 1350px;
	margin: 0 auto;
	background-color:#f6f6f6;
	border: 1px solid gainsboro;
	font-size: 14px;
	margin-top: 20px;
	margin-left: 65px;
	background-image: url(../img/yqq/背景.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.content_siyi p{
	margin-left: 20px;
	margin-top: 10px;
	font-size: 15px;
	color: #666666;
}
.content_siyi p a{
	font-size: 15px;
	color: #666666;
}
.content_siyi a:hover{
	color: hotpink;
}
.siyi{
	width: 278px;
	height: 280px;
	border: 1px solid #D3D3D3;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}
.siyi_img{
	width: 278px;
	height: 173px;
	transition: all 1s;
	opacity:0.8;
	filter(alpha=50);
}
.siyi_img:hover{
	transform: scale(1.1);
	opacity:1;
	filter(alpha=100);
}
.siyi ul li {
	width: 278px;
	height: 25px;
	line-height: 25px;
	margin-top: 5px;
	margin-left: 10px;
}
.siyi_li3{
	color: red;
	font-size: 16px;
}
